<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gabrielribeiro.desafio_mobile">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/toolbar_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DesafioMobie.Splash"
        android:name=".di.DesafioMobileApplication">
        <activity
            android:name=".ui.MovieDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DesafioMobie.NoActionBar" />
        <activity
            android:name=".ui.SearchMovieActivity"
            android:exported="true"
            android:parentActivityName=".ui.HomeActivity"
            android:theme="@style/DesafioMobie.NoActionBar" />
        <activity
            android:name=".ui.HomeActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>